.header_font_size {
  font-size: 0.9em;
  text-align: center;
  font-weight: 600;
}

.icon_div {
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(43, 100%, 85%);
}

.icon {
  font-size: 2.7em;
  color: #ff9900;
}

.add_goal_header {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #7e7e7e;
}

.add_goal_btn {
  border: none;
  border-radius: 1.25em;
  padding: 4px 24px;
  color: black;
  font-size: 0.813em;
  font-weight: 500;
}
